<div class="container-fluid">
<div class="row">
    <div class="col-md-12" style="height:100px"></div>
</div>
<div class="row">

    <div class="col-md-offset-4 col-md-4">

        <form name="create_user_form" class="form-horizontal" novalidate ng-submit="createRaport()">
            <div class="form-group">
                <div class="col-sm-offset-6">
                    <h1 class="lead">Sign up</h1>
                </div>
            </div>



            <div class="form-group">
                <label for="x" class="col-sm-2 control-label">X: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="x" placeholder="x" ng-model="creatingRaport.x" required>
                </div>
            </div>

            <div class="form-group">
                <label for="y" class="col-sm-2 control-label">Y: </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="y" placeholder="y" ng-model="creatingRaport.y" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-6" style="padding-bottom:50px">
                    <button type="submit" class="btn btn-md btn-primary" ng-disabled="crate_user_form.$invalid">
                        <span class="glyphicon glyphicon-plus"></span> Submit</button>
                </div>
            </div>

        </form>

    </div>

</div>
</div>
